#sprites2,
#sprites {
	display: none;
}

#canvas {
	margin-left: 10px;
	border: solid 8px gray;
}

#title {
	padding: 10px;
	padding-left: 10%;
	background: blue;
	font-size: xx-large;
	color: white;
}

#board {
	border: solid 8px gray;
}

#output {
	background: #eee;
	padding: 20px;
	font-size: smaller;
}

#output.animate {
	animation-name: fadeOut;
	animation-duration: 1s;
}

@keyframes fadeOut {
	0% { 
		background: #9f9; 
		padding: 25px;
	}

	10% {
		padding: 10px;
	}

	15% {
		padding: 15px;
	}

	100% {
		background: #eee;
		padding: 15px;
	}
}

#tools {
	display: inline-block;
}

.big-tool {
	user-select: none;
	padding: 10px;
	margin-left: 20px;
	background: #aaa;
	border: solid 4px black;
}

.add {
	border: solid 4px transparent;
}


#tray {
	display: inline-block;
	padding: 10px;
	background: #aaa;
	border: solid 4px black;
}

.armed {
	border: solid 4px green;
	background: pink;
}

@media(hover: hover) and (pointer: fine) {
	#trash:hover {
		border-color: #fdd;
	}

	.add:hover {
		border-color: #fdd;
	}
}
