
#sprites {
	display: none;
}

#canvas {
	margin-left: 10px;
	border: solid 8px gray;
}

#board {
	border: solid 8px gray;
}

#output {
	background: #eee;
	padding: 15px;
	font-size: x-small;
}

#output.animate {
	animation-name: fadeOut;
	animation-duration: 1s;
}

@keyframes fadeOut {
	0% { 
		background: #9f9; 
		padding: 25px;
	}

	10% {
		padding: 10px;
	}

	15% {
		padding: 15px;
	}

	100% {
		background: #eee;
		padding: 15px;
	}
}

#tools {
	display: inline-block;
}

#trash {
	user-select: none;
	padding: 10px;
	margin-left: 20px;
	background: #aaa;
	border: solid 4px black;
}

#trash:hover {
	background: #fdd;
}

.add:hover {
	background: #fdd;
}

#tray {
	display: inline-block;
	padding: 10px;
	background: #aaa;
	border: solid 4px black;
}